.nav-item-container>a {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    /* transition: all 0.2s ease-out; */
}


.nav-item-container>a.active {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.7rem;
}

.nav-item-container a:hover {
    transform: scale(1.05);
}



.nav-item-container>svg {
    font-size: 1.4rem;

}