.nav-item-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    /* transition: all 0.2s ease-out; */
}

.nav-item-container:hover {
    color: orangered;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.7rem;
}

.nav-item-container>svg {
    font-size: 1.4rem;

}