section#home-about {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    grid-template-areas:
        "decoration heading"
        "decoration cont";
    row-gap: 4rem;
    column-gap: 10rem;
    align-items: center;
    margin: 10rem 0;
    line-height: 2.5rem;
}

.section-heading {
    grid-area: heading;
    justify-self: center;
    font-size: 2.6rem;
    text-transform: uppercase;
}

.section-decor {
    grid-area: decoration;
    width: min(400px, 30vw);
    height: 350px;
    background-color: grey;
}

.section-content {
    grid-area: cont;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    text-align: justify;
}

@media screen and (max-width:1000px) {
    section#home-about {
        display: flex;
        flex-direction: column;
        gap: 2rem
    }

    .section-decor {
        width: min(600px, 70vw);
        height: 250px;

    }

}