#experience .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem 0;
}

#experience .hero .hero-heading {
    font-size: 4em;
}

#experience .hero .hero-subheading {
    margin: 1rem 0;
}


#experience .hero .call-to-action {
    margin-top: 2.5rem;
    gap: 2rem
}

#experience .call-to-action svg {
    height: 1.5rem;
}

#experience .hero button {
    align-items: baseline;
    gap: 0.75rem;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

#experience section#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 5rem 0;
}

#experience section#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 10rem;
}

#education h2 {
    font-size: 3rem;
    /* text-decoration: underline; */
}