header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--header-color);
}

#menu-toggle {
    font-size: 2.5rem;
    display: none;
}

header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--max-width);
    padding: 1.8rem;
}

header nav {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    transform-origin: top;
    max-height: 140px;
}


header ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    padding: 0;
    font-size: 1.8rem;
}

#nav-items svg {
    font-size: 1.5rem;
}

li.button-container {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

@media screen and (max-width: 700px) {
    #menu-toggle {
        display: unset;
    }

    header .container {
        display: grid;
        grid-template-areas:
            "button languages"
            "items items";
    }

    header nav.collapse {
        overflow: hidden;
        transform: scaleY(0);
        max-height: 0;
    }

    header nav {
        grid-area: items;
        justify-self: center;
    }

    header ul {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        font-size: 2rem;
    }

    #nav-items svg {
        font-size: 1.7rem;
    }

    #header-controls {
        justify-self: end;
    }
}