#header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #B9C1DF55;
}

#header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(80vw, 1000px);
}

#header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}


#header ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    padding: 0;
    font-size: 1.5rem;
}

#header svg {
    font-size: 2rem;
}