:root {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --max-width: min(90vw, 1000px);
  --text-color: black;
  --header-color: hsla(227, 37%, 80%);
  --bg-color: white;
  --card-bg-color: white;
  --border-color: black;
  --highlight-color: orangered;
  --hover-color: aliceblue;
  --hover-highlight-color: deepskyblue;
  --shadow-color: hsl(0, 0%, 80%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--text-color);
  border-color: var(--border-color);
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--hover-highlight-color)
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  color: var(--text-color)
}

ul {
  padding: 0;
}

button {
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  background-color: #00000000;
  color: var(--text-color);
}

button:hover {
  background-color: var(--hover-color);
  color: var(--hover-highlight-color)
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

svg,
img {
  color: var(--text-color);
  border-color: var(--border-color);
}

.card {
  background-color: var(--card-bg-color);
  border-color: var(--border-color);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);

}

#app>main {
  flex: 1;
}

main>* {
  width: var(--max-width);
}

a>* {
  color: inherit
}

button>* {
  color: inherit
}